{% extends 'layout.html' %} 
{% block body %}
<div class="container">
  <br />
  <form action="#" method="POST" enctype="multipart/form-data">
    <div class="input-group">
      <input type="file" class="form-control" name="image_name" required />
      <input type="submit" value="UPLOAD" class="btn btn-outline-secondary" />
    </div>
  </form>
</div>

{% if upload %}
<div class="container">
  <br />
  <table>
    <tr>
      <td>
        <img
          class="rounded float-left img-fluid"
          src="/static/upload/{{upload_image}}"
          alt=""
        />
      </td>
      <td>
        <img
          class="rounded float-right img-fluid"
          src="/static/done/{{upload_image}}"
          alt=""
        />
      </td>
    </tr>
  </table>
  <br />
  <table style="border: solid black; width: 100%">
    <tr style="border: solid black">
      <th>CROPPEED LICENCE PLATE IMAGE</th>
      <th>TEXT</th>
    </tr>
    <tr style="border: solid black">
      <td style="width: 50%">
        <img style="display: block; margin: auto" class="img-fluid" src="/static/cropped/{{ cropped_image }}" alt="" />
      </td>
      <td style="background-color: #c1dce0; width: 50%">
        <h1 style="display: block; margin: auto; text-align: center;" class="display-8">{{ text }}</h1>
      </td>
    </tr>
  </table>
</div>

{% endif %} {% endblock %}